.navbar .navbar-nav {
    display: inline-block;

}


ul {
	width:80%;
	height:auto;
	margin-left:10%;
	margin-right:10%;
	text-align:center;
}

li {
	display:inline;
	text-align:center;
	margin-right:3%;
	margin-left:3%;
	font-size:2vw;

}
.container{
	margin-top:3%;
}

nav {
	margin-left:20%;
	margin-right:20%;
	color:black;
}

.text {
	font-family:'Muli', sans-serif;
}

h1 {
	font-size:4vw;

}

a {
	color:black;
	overflow:hidden;
}

a:hover {
	text-decoration-color: #dd4e47;
	text-decoration-style: double;
	color:black;
}





.linkSpace {
	margin-right:20%;
	text-align:center;
	margin-left:20%;

}



.me{
	width:80%;
	margin-top:5%;
	padding-bottom:5%;
}

.growup{
	width:80%;
	text-align:left;
	margin-left:10%;

}

.header {
	margin-top:2%;
}

.lefttext {
	text-align:center;
}
