h1 {
	z-index:70;
	bottom:35%;
	margin:15%;
}

.navbar-dark .navbar-nav .nav-link {
	color:white;
}

nav {
	z-index: 60;
	color:white;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #5d72a9;
}

body {
  background: transparent url("img/cardbackground.jpg") no-repeat left top;


	color:black;
	text-align: center;
	font-family:'Open Sans', sans-serif;
}

.products {
	height:30%;
}

.products:hover {
	  transform:scale(1.1);
	  transition: all .2s ease-in-out;


}

