html{
	height:100%;
	width:100%;
	margin: 0 auto;

}

body{
	background-color:orange;
	font-family:'Muli', sans-serif;
	text-align:center;
	color:white;

	padding:20%;




}
a {
	text-decoration: none;
	color:orange;
	font-size:1.5vw;
}


button {
	border-radius: 8px;
	color:orange;
	
}

h1{
	font-size:3vw;
}

h2 {
	font-size:1.5vw;
}

.text {


}